*, *:before, *:after{
  box-sizing: border-box;
}

@font-face {
  font-family: 'MasonChronicles';
  src: url('../fonts/MasonChronicles.woff') format('woff'),
    url('../fonts/MasonChronicles.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #141218;
  color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: top right 20%;
  @media (max-width: 540px) {
    background-position: top right 35%;
  }
}

.container{
  max-width: 1140px;
  width: 95%;
  margin: 0 auto;
  @media (max-width: 375px) {
    width: 90%;
  }
}

.header {
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    margin-bottom: 90px;
    @media (max-width: 540px) {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #9D2929;
      flex-direction: column;
      width: 250px;
      padding-bottom: 40px;
    }
  }
  &-active{
    display: flex;
    transition: all .2s;
    z-index: 1;
  }
}

.logo{
  @media (max-width: 540px) {
    margin-bottom: 25px;
  }
}

.menu-list {
  margin-right: auto;
  margin-left: 67px;
  &__link {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 24px;
    @media (max-width: 540px) {
      margin-right: 0;
      margin-bottom: 17px;
    }
  }
  @media (max-width: 540px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    order: 2;
  }
}

.social {
  &__link {
    display: inline-block;
    margin-left: 20px;
    text-decoration: none;
    transition: all .2s;
    &:hover {
      transform: translateY(-1px);
    }
    &:first-child{
      @media (max-width: 540px) {
        margin-left: 0;
      }
    }
  }
  @media (max-width: 540px) {
    order: 1;
    margin-bottom: 22px;
  }
}

.main {

  &__content {
    display: flex;
    align-items: center;
    margin-bottom: 85px;
    @media (max-width: 540px) {
      margin-top: 196px;
    }
  }

  &__genre {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
    display: block;
    animation-delay: 0.1s;
  }
  &__title{
    font-family: 'MasonChronicles', serif;
    font-size: 76px;
    line-height: 89px;
    margin-bottom: 10px;
    animation-delay: 0.5s;
    @media (max-width: 540px) {
      font-size: 56px;
    }
  }
  &__desc{
    max-width: 458px;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 40px;
    animation-delay: 0.7s;
  }
  &__btn{
    display: inline-block;
    text-decoration: none;
    background-color: #9D2929;
    border-radius: 8px;
    color: #fff;
    border: none;
    padding: 22px 72px;
    font-weight: 700;
    animation-delay: 1s;
    transition: background-color .2s;
    &:hover {
      background-color: darken(#9D2929, 5%);
    }
  }
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  animation-delay: 0.3s;
  &__number {
    font-size: 12px;
    line-height: 14px;
    margin-left: 9px;
  }
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9D2929;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  position: relative;
  margin: auto;
  transition: background-color .2s;
  &:hover {
    background-color: darken(#9D2929, 5%);
  }
  &:before{
    content: '';
    width: 132px;
    height: 132px;
    background: #9D2929;
    opacity: 0.5;
    position: absolute;
    border-radius: 50%;
    left: -16px;
    top: -16px;
    animation: pulse 0.5s ease-in-out 2s infinite;
  }
  @media (max-width: 760px) {
    display: none;
  }
}

.play-img{
  position: relative;
  transform: translateX(5px);
}

.series {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  position: relative;
  max-width: 420px;
  &__card {
    padding: 13px;
    width: 164px;
    height: 113px;
    border-radius: 8px;
    margin-right: 30px;
  }
  @media (max-width: 540px) {
    width: 80%;
  }
}

.series-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  &__subtitle {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 2px;
  }

  &__title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
  }
}

.series-1{
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/series/series-1.jpg);
}

.series-2{
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/series/series-2.jpg);
}

.series-3 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/series/series-3.jpg);
}

.series-4 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/series/series-4.jpg);
}

.series-5 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/series/series-5.jpg);
}

.series-6 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/series/series-6.jpg);
}

.series-7 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/series/series-7.jpg);
}

.series-8 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/series/series-8.jpg);
}



.arrow {
  padding-right: 20px;
  width: 32px;
  height: 23px;
  border: none;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}

.footer {
  margin-top: auto;
  background-color: #141218;
  &__content {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 760px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.copyright {
  display: block;
  color: #3A383D;
  margin-bottom: 8px;
}

.footer-menu {
  &__link {
    text-decoration: none;
    color: #3A383D;
    margin-left: 25px;
    @media (max-width: 540px) {
      margin-left: 10px;
    }
  }
  &__link:first-child{
    @media (max-width: 760px) {
      margin-left: 0;
    }
  }
}

.swiper-container{
  max-width: 420px;
  margin-left: 0;
}

.menu-button{
  display: none;
  cursor: pointer;
  @media (max-width: 540px) {
    display: block;
    position: absolute;
    top: 40px;
    right: 35px;
    background-color: #fff;
    width: 30px;
    height: 2px;
  }
  &:before {
    @media (max-width: 540px) {
      content: '';
      display: block;
      background-color: #fff;
      width: 30px;
      height: 2px;
      margin-top: -7px;
      position: absolute;
      top: 0;
      left: 0;
      transition: all .2s;
    }
  }
  &:after {
    @media (max-width: 540px) {
      content: '';
      display: block;
      background-color: #fff;
      width: 30px;
      height: 2px;
      margin-top: 7px;
      position: absolute;
      top: 0;
      left: 0;
      transition: all .2s;
    }
  }
}

.menu-button-active {
  height: 0;
  z-index: 2;
  &:before {
    transition: all .2s;
    transform: rotate(45deg);
    margin: 0;
  }

  &:after {
    transition: all .2s;
    transform: rotate(-45deg);
    margin: 0;
  }
}

.web-developer {
  color: #3A383D;
  &__link {
    color: #0177ad;
    position: relative;
    text-decoration: none;
    transition: all 0.6s;

    &:before {
      content: "";
      width: 0;
      height: 0.1em;
      position: absolute;
      bottom: 0;
      left: 50%;
      background: #0177ad;
      transition: all 0.3s;
    }

    &:hover {
      &:before {
        width: 100%;
        left: 0;
        background: #0177ad;
      }
    }
  }
}
